<section>
  <app-pre-header></app-pre-header>
</section>
<section>
  <header class="main-header">
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="logo" />
    </div>
    <div class="search-container">
      <div class="input-wrapper">
        <input type="text" placeholder="Search for temples, events or fundraisers" />
        <img src="assets/icons/search.svg" alt="search" class="search-icon" />
      </div>
      <button class="mic-btn"><img src="assets/icons/mic.svg" alt="mic" />
      </button>
    </div>
    <button class="donate-btn">Donate now</button>
    <div class="sub-section">
      <div class="location-select">
        <span class="me-2">Chennai</span><img src="assets/icons/dropdown-arrow-white.svg" alt="dropdown" />
      </div>
      <div class="currency-select">
        <img src="assets/icons/currency-selector.svg" alt="currency" />
      </div>
      <div class="profile">
        <img src="assets/icons/profile.svg" alt="profile-picture" />
        <span style="color: white;">Deepak Sharma</span>
        <img src="assets/icons/menu.svg" alt="menu" />
      </div>
    </div>
  </header>
</section>
<section>
  <app-sub-header></app-sub-header>
</section>