<div class="featured-temple">
    <div class="carousel">
        <div class="slides">
            <img *ngFor="let img of images; let i = index" [src]="img.src" [alt]="img.alt"
                [class.active]="i === currentIndex" />
        </div>
        <button class="prev" (click)="showPrev()">&#10094;</button>
        <button class="next" (click)="showNext()">&#10095;</button>
        <div class="location">
            <img class="d-flex" src="assets/icons/location.svg" alt="Location" class="location-icon" />
            <span class="location-name">{{images[currentIndex].alt}}</span>
        </div>
    </div>
    <div class="temple-details">
        <div>
            <span class="badge mb-1">Promoted Temple</span>
            <h2>{{images[currentIndex].temple}}</h2>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat lorem ac erat maximus vulputate
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat.
            </p>
        </div>
        <div class="actions d-flex">
            <button class="view">View Temple</button>
            <button class="donate">Donate Now</button>
        </div>
    </div>
</div>