<div class="pre-header">
    <header class="d-flex justify-content-end">
        <ul class="nav">
            <li class="nav-item item-color">
                <a (click)="navigateToComingSoon('Fundraisers')" class="nav-link">Fundraisers</a>
            </li>
            <li class="nav-item item-color">
                <a (click)="navigateToComingSoon('Events')" class="nav-link">Events</a>
            </li>
            <li class="nav-item item-color">
                <a (click)="navigateToComingSoon('Favorites')" class="nav-link">Favorites</a>
            </li>
            <li class="nav-item">
                <button class="language-btn">
                    <span>English</span>
                    <img src="assets/icons/language.svg" alt="language" />
                </button>
            </li>
        </ul>

    </header>
</div>