.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FEF3F2;
  padding: 1rem 9rem;
  border: 1px solid #eee;
  border-radius: 6px;
  flex-wrap: wrap;
}

.section-header h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  color: #101828;
  font: 'Kohinoor Bangla', sans-serif;
}

.breadcrumb {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0rem !important;
}

.separator{
    margin: 0 8px;
}

.breadcrumb-text{
    font-family: 'Kohinoor Bangla', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}
