<div class="filters-container">
    <!-- Location Filter -->
    <div class="filter-section">
        <div class="filter-header">
            <h3>Location</h3>
            <img src="assets/icons/search.svg">

        </div>
        <ul class="filter-list">
            <li *ngFor="let location of visibleLocations">
                <label (click)="selectLocation(location); $event.preventDefault()">
                    <input type="checkbox" [value]="location" [checked]="selectedLocation === location" />
                    {{ location }}
                </label>
            </li>
        </ul>
        <a href="#" class="more-link" (click)="showAllLocations = !showAllLocations; $event.preventDefault()">
            {{ showAllLocations ? '- less location' : '+ more location' }}
        </a>
    </div>

    <hr />

    <!-- Mission Filter -->
    <div class="filter-section">
        <div class="filter-header">
            <h3>Mission</h3>
            <img src="assets/icons/search.svg">

        </div>
        <ul class="filter-list">
            <li *ngFor="let mission of visibleMissions">
                <label>
                    <input type="checkbox" [value]="mission" />
                    {{ mission }}
                </label>
            </li>
        </ul>
        <a href="#" class="more-link" (click)="showAllMissions = !showAllMissions; $event.preventDefault()">
            {{ showAllMissions ? '- less mission' : '+ more mission' }}
        </a>
    </div>

    <hr />

    <!-- Deity Filter -->
    <div class="filter-section">
        <div class="search-input">
            <input type="text" placeholder="search Deity" />
            <img src="assets/icons/search.svg">

        </div>
        <ul class="filter-list">
            <li *ngFor="let deity of visibleDeities">
                <label>
                    <input type="checkbox" [value]="deity" />
                    {{ deity }}
                </label>
            </li>
        </ul>
        <a href="#" class="more-link" (click)="showAllDeities = !showAllDeities; $event.preventDefault()">
            {{ showAllDeities ? '- less Deity' : '+ more Deity' }}
        </a>
    </div>
</div>