<div>
  <app-sub-footer></app-sub-footer>
</div>
<div class="main-footer">
  <footer>
    <div class="footer-padding">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-3">About DOOJ</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Overview</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Temple Login</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Create a Fundraiser</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Request a Temple</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-3">Quick Links</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Explore Temples</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">All Events</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">All Fundraisers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact us</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-3">Resources</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Newsletter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Events</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Help centre</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-4">Social</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary d-flex align-items-center">
                <img src="assets/icons/twitter.svg" alt="Twitter" class="me-2" />
                Twitter
              </a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary d-flex align-items-center">
                <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="me-2" />
                LinkedIn
              </a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary d-flex align-items-center">
                <img src="assets/icons/facebook.svg" alt="Facebook" class="me-2" />
                Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary d-flex align-items-center">
                <img src="assets/icons/instagram.svg" alt="Instagram" class="me-2" />
                Instagram</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-3">Legal</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Refund Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shipping Policy</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5 class="text-start ms-3">Get the app</h5>
          <ul class="nav flex-column align-items-start">
            <li class="nav-item mb-2">
              <img src="assets/icons/app-store.svg" alt="App Store" class="img-fluid" />
            </li>
            <li class="nav-item mb-2">
              <img src="assets/icons/google-play.svg" alt="Google Play" class="img-fluid" />
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <span>
          <img src="assets/icons/footer_logo.svg" alt="logo" class="footer-logo" />
        </span>
        <p>© 2025 Company, Inc. All rights reserved.</p>
      </div>
    </div>

  </footer>
</div>